@import url(./main.css);

*,
*:focus{
  outline: none;
}

form{
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  font-family: sans-serif;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-item{
  position: relative;
}

.form-item input{
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  transition: all .3s ease;
  padding: 0 15px;
  border-radius: 3px;
}
.form-item input:focus{
  border-color: var(--c-primaire);
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all .3s ease;
}
.form-item input:focus + label,
.form-item input:valid + label{
  top: -5px;
}
.form-item input:focus + label{
  color: var(--c-primaire);
}
.form-item input[type=submit]{
  border: none;
  background-color: var(--c-primaire);
  color: var(--c-light);
  cursor: pointer;

  width: 430px;
  font-weight: 500;
}

.bm15{margin: 0 0 15px 0}