@import url(./main.css);

table {
  border: 1px solid black;
  border-radius: 5px;
}

.clickableU, .clickableA {
  cursor: pointer;
}

.clickableU:hover, .clickableD:hover, .clickableA:hover {
  background-color: #e9f3ff;
}

#EditForm {
  display: none;
}

.btnSupp {
  margin-top: 0px;
}
