@import url(./main.css);

.container {
    width: 100vw;
    height: calc(100vh - var(--hh-header));

    display: flex;
}

.container .container-content {
    min-width: calc(100% - 390px);
    height: calc(100% - 60px);

    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    order: 1;

    transition: 0.3s ease-in-out 0s all;
    transform: translateX(0px);
}

.container .container-content .titre-panel-ouvert {
    font-size: 16px;
    color: var(--c-primaire);
    font-weight: 500;
}

.container .container-content .titre-panel-ouvert span{
    font-weight: 300;
}

.container .container-content.panel-close {
    min-width: calc(100% - 390px + 255px);
    transform: translateX(-255px); /* Décale le contenu vers la droite */
}

.container-asyde {
    min-width: 330px;
    height: 100%;

    background-color: #f8f8f8;
    transition: 0.3s ease-in-out 0s all;

    overflow-y: scroll;

    scrollbar-width: none; /* Masquer la scrollbar verticale */
    overflow-y: scroll;   /* Permettre le défilement vertical */
}

.container-asyde::-webkit-scrollbar {
    width: 0px;
    background: #00000000;
}

.container-asyde .asyde-content {
    padding: 30px  0 30px 30px;
}

.container-asyde .asyde-content .asyde-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--c-primaire);
}

.container-asyde .asyde-content .asyde-navigation .panel {
    margin: 0 0 30px 0;
    width: calc(100% - 30px);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-asyde .asyde-content .asyde-navigation .panel .titre-content {
    display: flex;
    align-items: center;
}


.container-asyde .asyde-content .asyde-navigation .panel .side-content span {
    font-size: 10px;
}

.container-asyde .asyde-content .asyde-navigation .panel .titre-content .titre { 
    font-weight: 700;
}

.container-asyde .asyde-content .asyde-navigation .panel .badge-status {
    background-color: var(--c-primaire);
    color: var(--c-light);
    margin: 0 0 0 10px;
}

.container-asyde.panel-open {
    transform: translateX(-255px); /* Décale le contenu vers la droite */
    overflow: hidden;
}

.container-asyde .asyde-content .asyde-navigation .panel {
    overflow: visible; /* Permet à #clickToOpenPanel de dépasser du conteneur */
}

.container-asyde .asyde-content .asyde-navigation .panel i {
    cursor: pointer;
    transform: rotate3d(0, 1, 0, 180deg);
    transition: 0.3s ease-in-out 0s all;
}

.container-asyde.panel-open .asyde-content .groupe-navigation {
    opacity: 0;
}

.container-asyde.panel-open .asyde-content .asyde-navigation .panel i {
    transform: rotate3d(1, 1, 1, 0deg);
}


#clickToOpenPanel {
    position: relative;
    z-index: 1; /* Place #clickToOpenPanel au-dessus du contenu du panel */
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation {
    margin: 0 0 30px 0;
    transition: 0.3s ease-in-out 0s all;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation .titre-navigation-asyde {
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation .titre-navigation-asyde i {
    font-size: 10px;

    margin: 0 10px 0 0;

    transform: rotate3d(1, 1, 1, 0deg);
    transition: 0.3s ease-in-out 0s all;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation .titre-navigation-asyde i.open {
    transform: rotate3d(1, 0, 0, 180deg);
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation nav {
    font-size: 12px;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 0 0 20px;
    margin: 0;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation nav ul li {
    margin: 15px 0 0 0;
}

.container-asyde .asyde-content .asyde-navigation .groupe-navigation nav ul .inclickable {
    color: #7c7c7c;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .container-asyde {
        min-width: 100vw;
    }

    .container-asyde.panel-open {
        transform: translateX(calc(-100vw + 75px)); /* Décale le contenu vers la droite */
    }

    .container .container-content.panel-close {
        transform: translateX(calc(-100vw + 75px)); /* Décale le contenu vers la droite */
    }
}