@import url(./main.css);

/* Contient la mise en forme des pages de gestion des utilisateurs */
.zoneImporterEtudiant {
    min-width: 95%;
    height: 202px;
    border: dashed #E2E2E2 2px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.surbrillance {
    border-color: #33477B;
    background-color: #E2E2E2;
}


.ajoutManuel {
    min-width: 95%;
    padding: 15px;
}
/* Placement des différents inputs pour la saisie manuelle */
form {
    display: initial;
}
.form-item{
    margin-top: 10px;
    width: 300px;
    float: left;
}
.form-item input{
    width: 250px;
}

/* Prévisualisation */
.previsualisation {
    width: 95%;
    height: 400px;
    background-color: #D9D9D9;
    overflow: auto;
}
.tablePrevisualisation {
    margin: 10px;
    width: 100%;
    text-align: center;
}
td {
    border-right: solid #E2E2E2 2px;
    padding-bottom: 6px;
}

.valider {
    border: none;
    background-color: var(--c-primaire);
    color: var(--c-light);
    cursor: pointer;
    border-radius: 3px;
    margin: 15px;
    width: 30%;
    height: 40px;
    font-weight: 500;
}
.ajouterManuel {
    margin: initial;
    width: 95%;
}

.form-item input.erreur {
    border-color: red;
}

.formValider {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Modification des utilisateurs */

.bordureListeUtilisateurs {
    border: 10px;
    border: solid;
    border-color: #33477B;
    border-radius: 2px;
    margin-top: 1%;
    height: 20%;
    width: 95%;
    text-align: center;
}